<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MySqlConn"
			 connectionString="Server=127.0.0.1;Port=3306;Database=paints_db;User Id=root;Password=1234;SslMode=None;Allow User Variables=True;"
			 providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>
